# ─── NexusFlow Environment ──────────────────────────────────
# Copier vers .env puis modifier

# Gateway
GATEWAY_PORT=8080

# Base de données
DB_HOST=postgres
# Pour éviter les conflits avec PostgreSQL local, on mappe sur 5433
PG_PORT=5433
DB_PORT=5433
DB_NAME=nexusflow
DB_USER=nexusflow
DB_PASSWORD=nexusflow

# Redis
# Pour éviter les conflits avec Redis local, on mappe sur 6380
REDIS_PORT=6380
REDIS_URL=redis://redis:6379

# SMTP / MailHog
SMTP_HOST=mailhog
SMTP_PORT=1026
MAILHOG_HTTP_PORT=8026
MAILHOG_SMTP_PORT=1026
SMTP_FROM=noreply@nexusflow.local

# Frontend
FRONTEND_PORT=3000
